/* ---------------------------------------- 默认css针对16:9标准比例屏幕微信----------------------------------------*/
html,body,article{
	position: fixed;
	padding: 0;
	margin: 0;
	height: 100%!important;
    width: 100%;
	overflow: hidden;
	-webkit-text-size-adjust:100%!important;
	background-color: #76c5c0;
}
.none{
	display: none;
}
.hide{
	opacity: 0;
}
a{
	cursor: pointer;
}
a, a:visited{
	color: #fff;
}
section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}
aside{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 19;
    background-color: rgba(0,0,0,0.85);
}
img{
	pointer-events: none;
}
.full{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ar{
	position: absolute;
	bottom: 0.2rem;
	left: 50%;
	width: 0.69rem;
	margin-left: -0.345rem;
}
/* public end */

.lighting{
	-webkit-animation: lighting 2s ease infinite;
}
@-webkit-keyframes lighting{
	0%{opacity: 1;}
	50%{opacity: 0.3;}
	100%{opacity: 1;}
}

.lighting2{
	-webkit-animation: lighting2 1.5s ease forwards;
}
@-webkit-keyframes lighting2{
	0%{opacity: 1;}
	25%{opacity: 0.3;}
	50%{opacity: 1;}
	75%{opacity: 0.3;}
	100%{opacity: 1;}
}

.handMoving{
	-webkit-animation: handMoving 3s ease infinite;
}
@-webkit-keyframes handMoving{
	0%{transform: translate(0, 0);}
	25%{transform: translate(-0.5rem, 0);}
	75%{transform: translate(0.5rem, 0);}
	100%{transform: translate(0, 0);}
}

.handMoving2{
	-webkit-animation: handMoving2 1.2s ease infinite;
}
@-webkit-keyframes handMoving2{
	0%{transform: translate(0, 0);}
	50%{transform: translate(0.3rem, 0.4rem);}
	100%{transform: translate(0, 0);}
}

.updowning{
	-webkit-animation: updowning 2s ease infinite;
}
@-webkit-keyframes updowning{
	0%{transform: translate(0, 0);}
	50%{transform: translate(0, -0.1rem);}
	100%{transform: translate(0, 0);}
}

.updowning2{
	-webkit-animation: updowning2 1.5s ease infinite;
}
@-webkit-keyframes updowning2{
	0%{transform: translate(0, 0);}
	50%{transform: translate(0, 0.3rem);}
	100%{transform: translate(0, 0);}
}

.updowning3{
	-webkit-animation: updowning3 2s ease infinite;
}
@-webkit-keyframes updowning3{
	0%{transform: translate(0, 0);}
	20%{transform: translate(0, -0.2rem);}
	40%{transform: translate(0, 0);}
	60%{transform: translate(0, -0.2rem);}
	80%{transform: translate(0, 0);}
	100%{transform: translate(0, 0);}
}

.Emphasize1{
	-webkit-animation: Emphasize 1.5s ease forwards;
}
.Emphasize2{
	-webkit-animation: Emphasize 1.5s 0.5s ease forwards;
}
@-webkit-keyframes Emphasize{
	0%{transform: scale(0, 0);opacity: 0;}
	100%{transform: scale(1, 1);opacity: 1;}
}

.loading1{
	-webkit-animation: loading1 1.2s 0.5s ease-in-out forwards;
}
@-webkit-keyframes loading1{
	0%{transform: translate(100%,0);}
	100%{transform: translate(0,0);}
}
.loading2{
	-webkit-animation: loading2 1.2s 0.5s ease forwards;
}
@-webkit-keyframes loading2{
	0%{transform: translate(-100%,0);}
	100%{transform: translate(0,0);}
}
.loading3{
	-webkit-animation: loading3 1s 1s ease forwards;
}
@-webkit-keyframes loading3{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.loading4{
	-webkit-animation: loading4 2s 2s ease forwards;
}
@-webkit-keyframes loading4{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.jumping{
	-webkit-animation: jumping 2s 1s ease infinite;
}
@-webkit-keyframes jumping{
	0%{transform: scale(1,1);}
	10%{transform: scale(1.2,1.2);}
	20%{transform: scale(1,1);}
	100%{transform: scale(1,1);}
}
/* anime end */

#loadingBox .perNum{
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 0.48rem;
}
#loadingBox .logo{
	position: absolute;
	top: 45%;
	left: 50%;
	width: 4.08rem;
	height: 2.65rem;
	transform: translate(-50%, -50%);
}
#loadingBox .pattern{
	position: absolute;
	top: 50%;
	left: 0;
	width: 7.5rem;
	height: 12.98rem;
	margin-top: -6.49rem;
}
#loadingBox .pattern1{
	-webkit-mask: url(../images/loadingBox/1.png);
	-webkit-mask-size: 100%;
}
#loadingBox .pattern2{
	-webkit-mask: url(../images/loadingBox/2.png);
	-webkit-mask-size: 100%;
}
#loadingBox .pattern3{
	-webkit-mask: url(../images/loadingBox/3.png);
	-webkit-mask-size: 100%;
}
#loadingBox .pattern1 .color{
	background-color: #dcefea;
	transform: translate(100%, 0);
}
#loadingBox .pattern2 .color{
	background-color: #d2f0f4;
	transform: translate(-100%, 0);
}
#loadingBox .pattern3 .color{
	background-color: #dfefe3;
	transform: translate(100%, 0);
}
#loadingBox .box1{
	background-color: #ffffff;
}
#loadingBox .box1 .perNum{
	color: #57595b;
}
#loadingBox .box2{
	background: url(../images/loadingBox/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

#loadingBox .part2{
	background-color: #6aab88;
}
#loadingBox .map{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
/* loadingBox end */

#tipsBox{
	background-color: rgba(0,0,0,0.8);
}
#tipsBox .hand{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0.68rem;
	margin: -0.35rem 0 0 -0.34rem;
}
#tipsBox .word{
	position: absolute;
	top: 55%;
	left: 50%;
	width: 1.75rem;
	margin-left: -0.775rem;
}
/* tipsBox end */

#mapBox .map{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #a4c080;
}
#mapBox .dialog{
	position: absolute;
	top: 9%;
	left: 35.9%;
	width: 23.6%;
	height: 16.7%;
}
#mapBox .dialog .d4{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	overflow: hidden;
}
#mapBox .dialog .d4 img{
	position: absolute;
	bottom: 0;
	left: 0;
}
#mapBox .dialog .row{
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	overflow: hidden;
}
#mapBox .dialog .row img{
	position: absolute;
	top: 0;
	left: 0;
}
#mapBox .hand{
	position: absolute;
	width: 3.7%;
	height: 6.2%;
}
#mapBox .hand1{
	top: 33%;
	left: 53%;
}
#mapBox .hand2{
	top: 40%;
	left: 56%;
}
#mapBox .hand3{
	top: 22%;
	left: 58%;
}
#mapBox .hand4{
	top: 57%;
	left: 40%;
}
/* mapBox end */

#roadBox .map{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 16.51rem;
}
#roadBox .map .metro,#roadBox .map .metro img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
}
#roadBox .map .metro img{
	height: 16.51rem;
}
#roadBox .map .point{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 12.17rem;
	overflow: hidden;
}
#roadBox .map .station{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
}
#roadBox .station img{
	position: absolute;
	top: 0;
	left: 0;
	height: 12.17rem;
}
#roadBox .location{
	position: absolute;
	top: 4rem;
	left: 2.98rem;
	width: 0.55rem;
}
#roadBox .pos{
	position: absolute;
	top: 1.75rem;
	left: 2.65rem;
	width: 3.17rem;
}
aside .close{
	position: absolute;
	top: 0;
	right: 0;
	width: 1rem;
	height: 1rem;
	z-index: 9;
}
/* roadBox end */

#storeBox{
	background-color: #eeeeee;
}
#storeBox .bg{
	position: absolute;
	top: 50%;
	left: 0;
	width: 7.5rem;
	height: 14.62rem;
	margin-top: -7.31rem;
}
#storeBox .cont{
	position: absolute;
	top: 50%;
	left: 0;
	width: 7.5rem;
	height: 10.5rem;
	margin-top: -5.25rem;
	text-align: center;
}
#storeBox .cont .img{
	width: 7.5rem;
	margin-bottom: 0.4rem;
}
#storeBox .cont .store{
	width: 2.52rem;
}
#storeBox .cont .word{
	width: 6.42rem;
	height: 1.28rem;
	margin: 0 auto 0.6rem;
}
#storeBox .cont .word .word1,#storeBox .cont .word .word2{
	width: 0;
	overflow: hidden;
}
/* storeBox end */

#sidewayBox .dialog{
	position: absolute;
	top: 4.2rem;
	right: 0.4rem;
	width: 5.45rem;
	height: 0;
	overflow: hidden;
	z-index: 2;
}
#sidewayBox .dialog .word{
	position: absolute;
	top: 0;
	left: 0;
	width: 5.45rem;
	height: 6.01rem;
}
#sidewayBox .people{
	position: absolute;
	top: 0;
	right: 0;
	width: 7.28rem;
}
#schoolBox .dialog{
	position: absolute;
	bottom: 5.7rem;
	left: 0.45rem;
	width: 5.47rem;
	height: 0;
	overflow: hidden;
	z-index: 2;
}
#schoolBox .dialog .word{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 5.47rem;
	height: 5.9rem;
}
#schoolBox .people{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 7.26rem;
}
/* sidewayBox,schoolBox end */

#smartBox{
	background-color: #678db4;
}
#smartBox .cont{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 7.5rem;
	height: 13.37rem;
}
#smartBox .title{
	position: absolute;
	top: 1.4rem;
	left: 50%;
	width: 6.15rem;
	margin-left: -3.07rem;
}
#smartBox .icon{
	position: absolute;
	top: 8.5rem;
	left: 3.35rem;
	width: 0.73rem;
}
#smartBox .dialog1{
	position: absolute;
	top: 3.4rem;
	left: 1.9rem;
	width: 0;
	height: 1.77rem;
	overflow: hidden;
}
#smartBox .dialog2{
	position: absolute;
	top: 7.7rem;
	right: 0.9rem;
	width: 0;
	height: 4.3rem;
	overflow: hidden;
}
#smartBox .dialog2 img{
	position: absolute;
	top: 0;
	right: 0;
	width: 5.42rem;
}
/* smartBox end */

#smartIntroBox{
	background-color: #fff;
}
#smartIntroBox .cont{
	position: absolute;
	top: 47%;
	left: 0;
	width: 7.5rem;
	height: 12.1rem;
	margin-top: -6.05rem;
	transform: scale(0.85,0.85);
}
#smartIntroBox .cont .block{
	width: 6.6rem;
	height: 2.38rem;
	margin: 0 auto;
}
#smartIntroBox .cont .block .letter{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 5.21rem;
}
#smartIntroBox .cont .block .letter1{
	transform-origin: 15% 100%;
}
#smartIntroBox .cont .block .icon{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2.65rem;
}
#smartIntroBox .cont .line{
	display: block;
	width: 7.48rem;
	margin: 0.05rem auto;
}
/* smartIntroBox end */

#followBox{
	background-color: #fff;
}
#followBox .follow{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7.06rem;
	transform: translate(-50%, -50%);
}
#followBox .follow4{
	background:url(../images/followBox/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#followBox .code{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6.64rem;
	transform: translate(-50%, -50%);
	pointer-events: auto;
}
#followBox .backBtn{
	position: absolute;
	top: 0.24rem;
	left: 0.24rem;
	width: 0.58rem;
	height: 0.58rem;
	z-index: 9;
}
/* followBox end */
/*---------------------------------------- 15:9 ----------------------*/
.screen159 #smartIntroBox .cont{
	top: 45%;
	transform: scale(0.75,0.75);
}
/*---------------------------------------- 18:9 ----------------------*/
.screen189 #smartIntroBox .cont{
	top: 48%;
	transform: scale(1,1);
}