/* ---------------------------------------- 默认css针对16:9标准比例屏幕微信----------------------------------------*/
html,body,article{
	position: fixed;
	padding: 0;
	margin: 0;
	height: 100%!important;
    width: 100%;
	overflow: hidden;
	-webkit-text-size-adjust:100%!important;
	background-color: #76c5c0;
}
.none{
	display: none;
}
.hide{
	opacity: 0;
}
a{
	cursor: pointer;
}
a, a:visited{
	color: #fff;
}
section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
}
aside{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 19;
    background-color: rgba(0,0,0,0.85);
}
img{
	pointer-events: none;
}
.full{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* public end */

.lighting{
	-webkit-animation: lighting 2s ease infinite;
}
@-webkit-keyframes lighting{
	0%{opacity: 1;}
	50%{opacity: 0.3;}
	100%{opacity: 1;}
}

.lighting2{
	-webkit-animation: lighting2 1.5s ease forwards;
}
@-webkit-keyframes lighting2{
	0%{opacity: 1;}
	25%{opacity: 0.3;}
	50%{opacity: 1;}
	75%{opacity: 0.3;}
	100%{opacity: 1;}
}

.handMoving{
	-webkit-animation: handMoving 3s ease infinite;
}
@-webkit-keyframes handMoving{
	0%{transform: translate(0, 0);}
	25%{transform: translate(-0.5rem, 0);}
	75%{transform: translate(0.5rem, 0);}
	100%{transform: translate(0, 0);}
}

.handMoving2{
	-webkit-animation: handMoving2 1.2s ease infinite;
}
@-webkit-keyframes handMoving2{
	0%{transform: translate(0, 0);}
	50%{transform: translate(0.3rem, 0.4rem);}
	100%{transform: translate(0, 0);}
}

.updowning{
	-webkit-animation: updowning 2s ease infinite;
}
@-webkit-keyframes updowning{
	0%{transform: translate(0, 0);}
	50%{transform: translate(0, -0.1rem);}
	100%{transform: translate(0, 0);}
}

.updowning2{
	-webkit-animation: updowning2 1.5s ease infinite;
}
@-webkit-keyframes updowning2{
	0%{transform: translate(0, 0);}
	50%{transform: translate(0, 0.3rem);}
	100%{transform: translate(0, 0);}
}

.updowning3{
	-webkit-animation: updowning3 2s ease infinite;
}
@-webkit-keyframes updowning3{
	0%{transform: translate(0, 0);}
	20%{transform: translate(0, -0.2rem);}
	40%{transform: translate(0, 0);}
	60%{transform: translate(0, -0.2rem);}
	80%{transform: translate(0, 0);}
	100%{transform: translate(0, 0);}
}

.Emphasize1{
	-webkit-animation: Emphasize 1.5s ease forwards;
}
.Emphasize2{
	-webkit-animation: Emphasize 1.5s 0.5s ease forwards;
}
@-webkit-keyframes Emphasize{
	0%{transform: scale(0, 0);opacity: 0;}
	100%{transform: scale(1, 1);opacity: 1;}
}
/* anime end */

#loadingBox{
	background: url(../images/loadingBox/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#loadingBox .perNum{
	position: absolute;
	top: 57%;
	left: 0;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 0.48rem;
}
#loadingBox .logo{
	position: absolute;
	top: 45%;
	left: 50%;
	width: 4.08rem;
	height: 2.65rem;
	-webkit-mask: url(../images/loadingBox/logo.png);
	-webkit-mask-size: 100%;
	transform: translate(-50%, -50%);
}
#loadingBox .per{
	position: absolute;
	top: 0;
	left: -6.08rem;
	width: 8.16rem;
	height: 100%;
}
#loadingBox .color{
	float: left;
	width: 6.08rem;
	height: 100%;
}
#loadingBox .color .up{
	width: 6.08rem;
	height: 1.55rem;
	background: linear-gradient(to right,#00699f  0%,#49a7c5 35%,#00699f  70% , #fff 100%);
}
#loadingBox .color .down{
	width: 6.08rem;
	height: 1.1rem;
	background: linear-gradient(to right,#58595b  0%,#58595b 70%, #fff 100%);
}
#loadingBox .white{
	float: left;
	width: 4.08rem;
	height: 100%;
	background: white;
}
#loadingBox .logo2{
	position: absolute;
	top: 0.6rem;
	left: 0.35rem;
	width: 2rem;
	z-index: 9;
}
#loadingBox .map,#loadingBox .baoshan{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
/* loadingBox end */

#tipsBox{
	background-color: rgba(0,0,0,0.8);
}
#tipsBox .hand{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0.68rem;
	margin: -0.35rem 0 0 -0.34rem;
}
#tipsBox .word{
	position: absolute;
	top: 55%;
	left: 50%;
	width: 1.75rem;
	margin-left: -0.775rem;
}
/* tipsBox end */

#mapBox .map{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #a4c080;
}
#mapBox .dialog{
	position: absolute;
	top: 9%;
	left: 35.9%;
	width: 23.6%;
	height: 16.7%;
}
#mapBox .dialog .d4{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	overflow: hidden;
}
#mapBox .dialog .d4 img{
	position: absolute;
	bottom: 0;
	left: 0;
}
#mapBox .dialog .row{
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	overflow: hidden;
}
#mapBox .dialog .row img{
	position: absolute;
	top: 0;
	left: 0;
}
#mapBox .hand{
	position: absolute;
	width: 3.7%;
	height: 6.2%;
}
#mapBox .hand1{
	top: 33%;
	left: 53%;
}
#mapBox .hand2{
	top: 40%;
	left: 56%;
}
#mapBox .hand3{
	top: 22%;
	left: 58%;
}
#mapBox .hand4{
	top: 57%;
	left: 40%;
}
/* mapBox end */

#roadBox .map{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 16.51rem;
}
#roadBox .map .metro,#roadBox .map .metro img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
}
#roadBox .map .metro img{
	height: 16.51rem;
}
#roadBox .map .point{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 12.17rem;
	overflow: hidden;
}
#roadBox .map .station{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
}
#roadBox .station img{
	position: absolute;
	top: 0;
	left: 0;
	height: 12.17rem;
}
#roadBox .location{
	position: absolute;
	top: 4rem;
	left: 2.98rem;
	width: 0.55rem;
}
#roadBox .pos{
	position: absolute;
	top: 1.75rem;
	left: 2.65rem;
	width: 3.17rem;
}
aside .close{
	position: absolute;
	top: 0;
	right: 0;
	width: 1rem;
	height: 1rem;
	z-index: 9;
}
/* roadBox end */

#sidewayBox{
	background-color: #76be79;
}
#sidewayBox .word{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6.57rem;
	transform: translate(-50%, 3.5rem);
}
#sidewayBoxSwiper{
	width: 7.5rem;
	height: 9rem;
}
#sidewayBoxSwiper img{
	width: 7.5rem;
}
.swiper-pagination-bullet{
	background: none;
	opacity: 1;
	background-image: url(../images/common/c.png);
	background-size: 100% 100%;
}
.swiper-pagination-bullet-active{
	background: none;
	background-image: url(../images/common/ca.png);
	background-size: 100% 100%;
}
/* sidewayBox end */

#schoolBox{
	background-color: #76be79;
}
#schoolBox .word{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6.55rem;
	transform: translate(-50%, 3.5rem);
}
#schoolBoxSwiper{
	width: 7.5rem;
	height: 9rem;
}
#schoolBoxSwiper img{
	width: 7.5rem;
}
/* schoolBox end */

#smartBox{
	background-color: #f19149;
}
#smartBox .introBox .cont{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 10.8rem;
	margin-top: -5.4rem;
}
#smartBox .introBox .cont .title{
	position: absolute;
	top: 0;
	left: 50%;
	width: 6.17rem;
	margin-left: -3.085rem;
}
#smartBox .introBox .cont .c2{
	position: absolute;
	top: 1.6rem;
	left: 50%;
	width: 6.72rem;
	margin-left: -3.36rem;
}
#smartBox .introBox .cont .c1{
	position: absolute;
	top: 1.6rem;
	right: 0.39rem;
	width: 4.17rem;
}
#smartBox .introBox .cont .c3{
	position: absolute;
	top: 5.75rem;
	left: 0.39rem;
	width: 4.17rem;
}
#smartBox .introBox .cont .ar{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0.69rem;
	margin-left: -0.35rem;
}

#smartBox .moreSwiperBox .word{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1.92rem;
	transform: translate(-50%, 3.5rem);
}
#smartBox .moreSwiperBox .moreBtn{
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	width: 1.5rem;
	height: 0.8rem;
	margin-left: -0.75rem;
	background-color: #fff;
	border-radius: 0.1rem;
	text-align: center;
	cursor: pointer;
}
#smartBox .moreSwiperBox .moreBtn img{
	margin-top: 0.28rem;
	width: 0.89rem;
}
#smartBoxSwiper{
	width: 7.5rem;
	height: 9rem;
}
#smartBoxSwiper img{
	width: 7.5rem;
}
/* #smartBox end */

#followBox{
	background-color: #84ccc9;

}
#followBoxSwiper{
	width: 100%;
	height: 100%;
}
#followBoxSwiper .ar{
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	width: 0.69rem;
	margin-left: -0.35rem;
}
#followBoxSwiper .cont{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7.06rem;
	height: 10.21rem;
	transform: translate(-50%, -50%);
}
#followBoxSwiper .cont img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#followBoxSwiper .cont .gotoFollow{
	position: relative;
	z-index: 9;
	width: 100%;
	height: 16%;
	margin-bottom: 0.1rem;
}
#followBoxSwiper .cont .gotoFollow:first-child{
	margin-top: 1.2rem;
}
#followBoxSwiper .intro{
	background: url(../images/followBox/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#followBoxSwiper .cont2{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4.04rem;
	height: 10.22rem;
	transform: translate(-50%, -50%);
	text-align: center;
}
#followBoxSwiper .cont2 .contact{
	width: 2.78rem;
}
/* followBox end */
/*---------------------------------------- 15:9 ----------------------*/
.screen189 #smartBox .swiperBox .moreBtn{
	bottom: 1rem;
}
/*---------------------------------------- 18:9 ----------------------*/
.screen159 #smartBox .swiperBox .moreBtn{
	bottom: 0.1rem;
}